
.banner {
    height: 100vh;
    background-image: url('../components/assets/banner.jpg');
    position: relative;
    background-size: cover;
    background-attachment: fixed;
}

.banner .container h1 {
    color: #fff;
    font-size: 40px;
    line-height: 29px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    position: relative;
    padding: 54vh 0 0 0;
    text-align: center;
}
.banner-text {
    color: #fff;
    font-size: 20px;
    line-height: 29px;
    font-weight: 400;
    padding: 10px 0 0 0;
    position: relative;
    display: block;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.banner::before {
    background-color: rgba(0, 0, 0, 0.8);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
}
/* .banner-reviews {
    padding: 10px 0 0 0;
    position: relative;
}
.banner-total-reviews {
    color: #fff;
    font-size: 11px;
    line-height: 29px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.banner a {
    border: none;
    background-color: #f4da55;
    color: #000;
    padding: 12px 55px;
    font-size: 20px;
    line-height: 29px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    position: relative;
}
.banner .banner-button {
    padding: 42px 0 0 0;
} */