
.banner {
    height: 100vh;
    background-image: url('../components/assets/banner.jpg');
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.banner .container h1 {
    color: #fff;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    position: relative;
    padding: 45vh 0 0 0;
    text-align: center;
}
.banner-text {
    color: #fff;
    font-size: 20px;
    line-height: 29px;
    font-weight: 400;
    padding: 10px 0 0 0;
    position: relative;
    display: block;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.banner::before {
    background-color: rgba(0, 0, 0, 0.8);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
}
@media screen and (max-width: 992px) {
    .banner .container h1 {
        padding: 40vh 0 0 0;
    }
}