a {
    text-decoration: none;
}
header .header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 10px 0 10px 0;
}
.setHeader {
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 10px 0 10px 0;
    background: rgb(0, 23, 45);
    background: linear-gradient(90deg, rgba(0, 23, 45, 1) 8%, rgba(0, 11, 24, 1) 57%, rgba(0, 38, 77, 1) 100%);
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .nav-link {
    color: #fff;
    font-size: 15px;
    line-height: 29px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}
.nav-link:hover {
    color: #0281ff;
    transition: all ease 0.5s;
}
header img {
    width: 150px;
    height: 150px;
    filter: invert(100%);
}
.navbar-brand, .navbar-toggler {
    margin: 0 20px;
}
.container-fluid {
    padding: 0;
}
@media screen and (max-width: 992px){
    header img {
        width: 100px;
        height: 100px;
        filter: invert(100%);
    }
    .navbar-collapse {
        padding: 0 20px;
        background: rgb(0, 23, 45);
        background: linear-gradient(90deg, rgba(0, 23, 45, 1) 8%, rgba(0, 11, 24, 1) 57%, rgba(0, 38, 77, 1) 100%);
    }
    
}