.container {
    max-width: 1139px;
    margin: 0 auto;
}
header .header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 10px 0 10px 0;
}
.setHeader {
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 10px 0 10px 0;
    background: rgb(0, 23, 45);
    background: linear-gradient(90deg, rgba(0, 23, 45, 1) 8%, rgba(0, 11, 24, 1) 57%, rgba(0, 38, 77, 1) 100%);
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-navbar nav ul {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-bottom: 75px;
}
.header-navbar nav ul li {
    list-style-type: none;

}
.header-navbar nav ul li a {
    color: #fff;
    font-size: 15px;
    line-height: 29px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}
.header-navbar nav ul li a:hover {
    color: #0281ff;
    transition: all ease 0.5s;
}
.header-logo img {
    width: 200px;
    height: 200px;
    filter: invert(100%);
}